<div id="<%= dom_id product %>">
  <p>
    <strong>Title:</strong>
    <%= product.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= strip_tags(product.description) %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= image_tag(product.image_url, class: 'w-40') %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

</div>
